html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.divPrincipalCorredor {
  padding-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formularioCorredor {
  padding-top: 20px;
  width: 100%;
  max-width: 550px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
}


.formularioCorredor__campo {
  margin-bottom: 20px;
  width: 100%; 
}

.formularioCorredor__campo label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #333;
  text-align: left;
}

.formularioCorredor__campo input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.formularioCorredor__campo input[type="text"] {
  outline: none; 
  border-color: #00ff6a; 
  box-shadow: 0 0 0 2px rgba(1, 180, 82, 0.25); 
}

/* Botão de submit */
.botaoCadastrarCorredor {
  background-color: #3AD690;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; 
  max-width: 270px;
  margin-top: 20px;
  font-weight: bold;
}

.situacaoCorredor {
  background-color: #81f3b1;
  color: white;
  padding: 5px 6px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.botaoCadastrarCorredor:hover {
  background-color: #2ecc71;
}

.situacaoCorredor {
    background-color: #2ecc71;  
}

.tirarHiperlink {
  text-decoration: none;
  color: black;
}

.tirarHiperlink:hover {
  color: #ffff; 
}