/* src/components/Header.css */

header {
    width: 50%;
    height: 50px;
    background-color: #3AD690;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 150%;
    font-weight: bold;
}

header img {
    height: 100%;
}

.tirarHiperlink {
    text-decoration: none;
}
