.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px;
}

.cancel-button {
  padding: 8px 15px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #bbb;
}

.delete-button {
  padding: 8px 15px;
  background-color: #dc3545; /* Cor vermelha para deletar */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}